#countLabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

#containerBtn{
    display: flex;           /* Usando Flexbox para alinhar os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px;               /* Espaçamento entre os botões */     
    align-items: start;     /* Centraliza verticalmente */
    height: 100lvh;
}